@model PageVM
@{
    ViewData["Title"] = "Discover docs";
    var rows = Model.Rows as List<Netnr.Domain.DocSet>;
    var uinfo = new UserAuthAid(ViewContext.HttpContext).Get();

    if (ViewData["Nickname"] != null)
    {
        ViewData["Title"] = ViewData["Nickname"] + " docs";
    }
}

<style>
    .dslock {
        position: absolute;
        top: 3px;
        right: 6px;
    }

    .dsshare {
        position: absolute;
        top: 3px;
        right: 30px;
    }
</style>
<div class="container">

    <div class="row mb-3">
        <div class="col-sm-4">
            <form action="@ViewContext.HttpContext.Request.Path" method="get">
                <input class="form-control" name="q" value='@ViewData["q"]' placeholder="Search..." />
            </form>
        </div>
    </div>

    <div class="row">
        @foreach (var item in rows)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-success card-pi">
                    <div class="card-body text-success">
                        @if (item.DsOpen != 1)
                        {
                            <i class="fa fa-lock dslock" title="私有"></i>

                            if (!string.IsNullOrWhiteSpace(item.Spare1))
                            {
                                <a href="/doc/code/@(item.DsCode+"?code="+item.Spare1)" target="_blank" class="fa fa-share-alt dsshare" title="分享码查看链接"></a>
                            }
                        }
                        <a class="h5 card-title" href="/doc/code/@item.DsCode">@item.DsName</a>
                        <p>
                            <i class="fa fa-user text-muted"></i>
                            <a href="/doc/user/@item.Uid">@item.Spare3</a>
                            &nbsp;
                            <span class="text-muted small">@item.DsCreateTime?.ToString("yyyy-MM-dd HH:mm")</span>
                        </p>
                        <div class="text-muted">@(string.IsNullOrWhiteSpace(item.DsRemark) ? "暂无备注" : item.DsRemark)</div>
                        @if (uinfo.UserId == item.Uid)
                        {
                            <span class="card-tool">
                                <a href="/doc/item/del/@item.DsCode" class="fa fa-fw fa-trash-o text-danger" title="删除" onclick="return confirm('确定删除?')"></a>
                                <a href="/doc/item/setting/@item.DsCode" class="fa fa-fw fa-edit" title="编辑"></a>
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <partial name="_PartialPaging4" />
        </div>
    </div>

</div>