@model PageVM

<!--分页-->
@if (Model.Pag.PageTotal > 1)
            {
    <ul class="pagination">
        @if (Model.Pag.PageNumber > 1)
        {
            <li>
                <a href="@Model.Page(Model.Pag.PageNumber - 1)">
                    <span>&laquo;</span>
                </a>
            </li>
        }
        @if (Model.Pag.PageNumber > 3)
        {
            <li class="hidden-xs">
                <a href="@Model.Page(1)">1</a>
            </li>
            @if (Model.Pag.PageNumber - 3 > 2)
            {
                <li class="hidden-xs disabled">
                    <a>...</a>
                </li>
            }
            else if (Model.Pag.PageNumber - 3 == 2)
            {
                <li class="hidden-xs">
                    <a href="@Model.Page(2)">2</a>
                </li>
            }
        }
        @if (Model.Pag.PageNumber - 2 > 0)
        {
            <li class="hidden-xs">
                <a href="@Model.Page(Model.Pag.PageNumber - 2)">
                    @(Model.Pag.PageNumber - 2)
                </a>
            </li>
        }
        @if (Model.Pag.PageNumber - 1 > 0)
        {
            <li class="hidden-xs">
                <a href="@Model.Page(Model.Pag.PageNumber - 1)">
                    @(Model.Pag.PageNumber - 1)
                </a>
            </li>
        }

        <li class="active"><a>@Model.Pag.PageNumber</a></li>

        @if (Model.Pag.PageNumber + 1 <= Model.Pag.PageTotal)
        {
            <li class="hidden-xs">
                <a href="@Model.Page(Model.Pag.PageNumber + 1)">
                    @(Model.Pag.PageNumber + 1)
                </a>
            </li>
        }
        @if (Model.Pag.PageNumber + 2 <= Model.Pag.PageTotal)
        {
            <li class="hidden-xs">
                <a href="@Model.Page(Model.Pag.PageNumber + 2)">
                    @(Model.Pag.PageNumber + 2)
                </a>
            </li>
        }
        @if (Model.Pag.PageNumber + 3 <= Model.Pag.PageTotal)
        {
            if (Model.Pag.PageNumber + 3 < Model.Pag.PageTotal - 1)
            {
                <li class="hidden-xs disabled">
                    <a>...</a>
                </li>
            }
            else if (Model.Pag.PageNumber + 3 == Model.Pag.PageTotal - 1)
            {
                <li class="hidden-xs">
                    <a href="@Model.Page(Model.Pag.PageTotal-1)">
                        @(Model.Pag.PageTotal - 1)
                    </a>
                </li>
            }
            <li class="hidden-xs">
                <a href="@Model.Page(Model.Pag.PageTotal)">
                    @Model.Pag.PageTotal
                </a>
            </li>
        }
        @if (Model.Pag.PageNumber < Model.Pag.PageTotal)
        {
            <li>
                <a href="@Model.Page(Model.Pag.PageNumber + 1)">
                    <span>&raquo;</span>
                </a>
            </li>
        }
    </ul>
}